.wrapper {
  padding: 6rem;
  text-align: center;
  background-color: var(--color-white);
}

.title {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  line-height: 5rem;
  margin-bottom: 1.5rem;
}

.logos {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 6rem;
  column-gap: 10rem;
}

.clientLogo {
  max-height: 92px;
  min-width: 212px;
  max-width: 212px;
  object-fit: contain;
  filter: saturate(0);
  transition: filter 0.5s ease;
}

.clientLogo:hover {
  filter: saturate(1);
}

/* Large (Desktops padrão) */
@media (max-width: 1280px) {
  .wrapper {
    padding: 5rem;
  }

  .title {
    font-size: 3.5rem;
  }
}

/* Medium (Tablets paisagem) */
@media (max-width: 1024px) {
  .wrapper {
    padding: 4.5rem;
  }
}

/* Small (Tablets retrato ou smartphones grandes) */
@media (max-width: 768px) {
  .wrapper {
    padding: 4rem;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

/* Extra Small (Smartphones menores) */
@media (max-width: 480px) {
  /* Stack completo, fontes menores, botões maiores */
}
