.wrapper {
  background-color: var(--color-gray-light);
  padding-block: 36px;
  font-size: 1.5rem;
  font-weight: 700;
  padding-inline: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  width: 260px;
  height: auto;
}

.header__nav__list {
  display: flex;
  gap: 2rem;
}
