:root {
  --color-gray-light: #ebebeb;
  --color-gray-medium: #e3e3e3;
  --color-gray-dark: #252525;
  --color-white: #ffffff;
  --color-black: #000000;
}

/* Extra Large (Monitores 1440px+) */
@media (min-width: 1440px) {
  /* Layouts com muito espaço */
}

/* Large (Desktops padrão) */
@media (max-width: 1280px) {
  /* Ajustes para notebooks comuns */
}

/* Medium (Tablets paisagem) */
@media (max-width: 1024px) {
  /* Provável reorganização de grid/flex */
}

/* Small (Tablets retrato ou smartphones grandes) */
@media (max-width: 768px) {
  /* Layout mobile-like, mas ainda com 2 colunas às vezes */
}

/* Extra Small (Smartphones menores) */
@media (max-width: 480px) {
  /* Stack completo, fontes menores, botões maiores */
}

/* Gotham HTF - Black */
@font-face {
  font-family: "GothamHTF";
  src: url("./assets/fonts/gotham-htf-black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* Gotham HTF - Bold */
@font-face {
  font-family: "GothamHTF";
  src: url("./assets/fonts/gotham-htf-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Gotham HTF - Medium */
@font-face {
  font-family: "GothamHTF";
  src: url("./assets/fonts/gotham-htf-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Global classes */
.container {
  margin: 0 auto;
  max-width: 1920px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "GothamHTF", sans-serif;
  font-weight: 500;
  line-height: 1;
  background-color: #fafafa;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
