.wrapper {
  padding: 6rem;
  text-align: center;
  background-color: var(--color-white);
}

.title {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  line-height: 5rem;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.wrapper__banners {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 160px;
  row-gap: 100px;
}

/* Large (Desktops padrão) */
@media (max-width: 1280px) {
  .wrapper {
    padding: 5rem;
  }

  .title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

/* Medium (Tablets paisagem) */
@media (max-width: 1024px) {
  .wrapper {
    padding: 4.5rem;
  }
}

/* Small (Tablets retrato ou smartphones grandes) */
@media (max-width: 768px) {
  .wrapper {
    padding: 4rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .description {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

/* Extra Small (Smartphones menores) */
@media (max-width: 480px) {
  .wrapper {
    padding: 1.5rem;
  }
}
