.sliderWrapper {
  height: 664px;
  margin-bottom: 5rem;
}

.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.leftArrow {
  cursor: pointer;
  width: max-content;
  font-size: 1.5rem;
  padding: 8px 12px;
  border-radius: 100%;
  color: var(--color-gray-dark);
  background-color: var(--color-white);
}

.rightArrow {
  cursor: pointer;
  width: max-content;
  font-size: 1.5rem;
  padding: 8px 12px;
  border-radius: 100%;
  color: var(--color-gray-dark);
  background-color: var(--color-white);
}

.slider {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sliderImg {
  flex-grow: 1;
  overflow: hidden;
}

.sliderImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0);
  transition: filter 0.5s ease;
}

.sliderImg img:hover {
  filter: saturate(1);
}

.sliderDescription {
  padding: 1rem;
}

.sliderDescription p {
  margin-block: 0.5rem;
}
